<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index.html"><img src="/img/ukmon-logo.png" alt="UKMON Logo"
                    height="30" /></a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-left">
            <!-- /.dropdown -->
            <!-- put in some space -->
            <li></li>
            <li></li>
            <li></li>
            <li class="divider"></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    BROWSE
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> 2021
                                <span class="pull-right text-muted small" id=lowest_temp></span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> 2020
                                <span class="pull-right text-muted small" id=highest_temp></span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> Older<br>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <li class="dropdown">
                <a href="/reports/index.html">REPORTS</a>
            </li>
            <li class="dropdown">
                <a href="/about.html">ABOUT</a>
            </li>
            <li class="dropdown">
                <a href="https://ukmeteornetwork.co.uk/live/#/">UKMON Live!</a>
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
</div>