<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" >
        <div class="navbar-header">
            <a class="navbar-brand" href="/index.html"><img src="/img/ukmon-logo.png" alt="UKMON Logo"
                    height="30" /></a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-left">
            <li class="divider"></li>
            <li class="dropdown"><a class="nav-item" href="/reports/index.html">REPORTS</a></li>
            <li class="dropdown"><a class="nav-item" href="/search/index.html">SEARCH</a></li>
            <li class="dropdown"><a class="nav-item" href="/browse/index.html">DOWNLOAD</a></li>
            <li class="dropdown"><a class="nav-item" href="https://ukmeteornetwork.co.uk/">MAIN SITE</a></li>
            <li class="dropdown"><a class="nav-item" href="https://ukmeteornetwork.co.uk/live/#/">UKMON Live!</a></li>
        </ul>
    </nav>
</div>