# tailor this config file to your needs
# Note that $HOME will be translated into your homedir (~ on linux, $env:userprofile on windows)

[Fireballs]
# the location to which fireball data will be downloaded eg c:\fireballs.
basedir=

[reduction]
# To use the reduction options RMS must be installed and an RMS python conda environment created 
rms_loc=
rms_env=RMS

[solver]
# To use the solver options WMPL must be installed and a WMPL python conda environment created 
wmpl_loc=
wmpl_env=wmpl

[sharing]
# create a folder in Dropbox or similar if you want to share raw data with others and then put 
# its *local* path here eg c:\users\yourname\dropbox\meteors
shrfldr=

[gmn]
# the GMN SSH key needs to be configured with Denis Vida
# if you have permission you can then collect data from the GMN server
gmnkey=
gmnuser=
gmnserver=gmn.uwo.ca

[ukmon]
apikey=

