#https://github.com/matplotlib/basemap/archive/master.zip
basemap
boto3
Cython
gmplot
google-auth
google-auth-oauthlib
jplephem
Keras
matplotlib==3.3.2
numpy
oauthlib
pandas
Pillow
pycparser
pyephem
pyproj==2.6.1.post1
PyQt5
pyswarms
pytz
PyYAML
scipy
Shapely
xmltodict
tweepy
fastparquet
cryptography
cartopy
python-crontab