name: automated_testing

on:
  push:
    branches:
      - markmac99

jobs:
  # Build the documentation and upload the static HTML files as an artifact.
  build:
    runs-on: [self-hosted, ukmonhelper]
    steps:
      - uses: actions/checkout@v3
      - run: chmod +x ./ukmon_meteortools/tests/*.sh
      - run: ./ukmon_meteortools/tests/runTests.sh 
