name: Automated Testing
env:
  AWS_REGION: eu-west-2
permissions:
  id-token: write
  contents: read

on:
  push:
    branches: [dev, markmac99]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [dev, markmac99]
jobs:
  conttests:
    runs-on: thelinux
    container:
      image: docker.io/markmac99/ukmdatester
      credentials:
        username: ${{ secrets.DH_LOGIN_MM }}
        password: ${{ secrets.DH_PATT_MM }}
      env:
        BRANCH: ${{ github.head_ref || github.ref_name }}
      volumes:
        - testdata:/data
    steps:
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4.0.1
        with:
          role-to-assume: arn:aws:iam::183798037734:role/testingRole
          role-session-name: github_aws_testing
          aws-region: ${{ env.AWS_REGION }}
      - name: remote tests
        run: |
          chmod +x /tests.sh
          if [ ! -f /data/admin/cameraLocs.json ] ; then 
            echo "getting test data"
            curl https://archive.ukmeteors.co.uk/browse/testdata/testdata.tar.gz  -o /data/testdata.tar.gz
            cd /data && tar -xzf ./testdata.tar.gz
          else
            echo "test data available"
          fi 
          mkdir -p ~/.aws
          #cp /data/profile/credentials ~/.aws/
          aws sts get-caller-identity 
          /tests.sh
  apitests:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: run api tests
        run: |
          chmod +x ./tests/api_tests.sh
          ./tests/api_tests.sh
