name: Build Fireball and Management Tools
env:
  AWS_REGION: eu-west-2
permissions:
  id-token: write
  contents: read

on:
  push:
    branches: [master]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [master]
jobs:
  local_tests:
    name: local test stage
    runs-on: win10
    steps:
      - name: "☁️ checkout repository"
        uses: actions/checkout@v4
      - name: testing
        run: |
          echo "hello from test"
          conda activate ukmon-admin
          dir
  build_usermgmt:
    name: build usermanagement
    runs-on: win10
    needs: local_tests
    steps:
      - name: building
        run: |
          echo "running build step"
          conda activate ukmon-admin
          cd usermgmt\windows
          pyinstaller ./stationMaint2.py --noconsole --onefile --windowed --icon .\camera.ico
          dir dist
  package_usermgmt:
    name: package usermanagement
    runs-on: win10
    needs:
      - build_usermgmt
    steps:
      - name: packaging
        run: |
          echo "packaging the app now"
          cd usermgmt\windows\dist
          copy ../camera.ico .
          copy ../stationmaint.ini.sample .
          copy ../../README.md .
          compress-archive -path . -update -destinationpath c:\temp\ukmon_usermgmt.zip
  release_usermgmt:
    name: release usermanagement
    runs-on: win10
    needs:
      - package_usermgmt
    steps:
      - name: release
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.MM_PAT }}
        with:
          file: c:\temp\ukmon_usermgmt.zip
          tags: true
          draft: true
          overwrite: true
          tag_name: 2025.10.1
          default_release_name: User Management Tool
          default_release_body_path: usermgmt\windows\release_notes.md
  cleanup_usermgmt:
    name: clean up temp usermanagement files
    runs-on: win10
    continue-on-error: true
    needs:
      - release_usermgmt
    steps:
      - name: delete temp usermgmt package
        run: |
          del c:\temp\ukmon_usermgmt.zip
  build_fbtool:
    name: build fbcollector
    runs-on: win10
    needs: local_tests
    steps:
      - name: building
        run: |
          echo "running build step"
          conda activate fbcollector
          cd fbCollector
          pyinstaller ./fireballCollector.py --onefile --windowed --icon .\ukmda.ico
  package_fbtool:
    name: package fbcollector
    runs-on: win10
    needs:
      - build_fbtool
    steps:
      - name: packaging
        run: |
          echo "packaging the app now"
          cd fbCollector
          & 'C:\Program Files (x86)\Inno Setup 6\Compil32.exe' .\fireballcollector_setup.iss /cc
  release_fbtool:
    name: release fbcollector
    runs-on: win10
    needs:
      - package_fbtool
    steps:
      - name: release
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.MM_PAT }}
        with:
          file: fbCollector\setup_fireballCollector.exe
          tags: true
          draft: true
          overwrite: true
          tag_name: 2025.11.1
          default_release_name: Tools to Gather Fireball data and Manage UKMON Cameras
          default_release_body_path: fbCollector\README.md
  cleanup_fbtool:
    name: clean up temp fbcollector files
    runs-on: win10
    continue-on-error: true
    needs:
      - release_fbtool
    steps:
      - name: delete package
        run: |
          del c:\temp\fbcollector.zip
