name: build_fbmanagement
env:
    AWS_REGION: eu-west-2
permissions:
    id-token: write
    contents: read

on:
    push:
        branches: [ dev, markmac99, master ]
    pull_request:
        # The branches below must be a subset of the branches above
        branches: [ master ]
jobs:
    local_tests:
        name: local test stage
        runs-on: win10
        steps:
        - name: "☁️ checkout repository"
          uses: actions/checkout@v4
        - name: testing
          run: | 
            echo "hello from test"
            conda activate fbcollector
            dir fbCollector
    build:
        name: build stage
        runs-on: win10
        needs: local_tests
        steps:
        - name: building
          run: |
            echo "running build step"
            conda activate fbcollector
            cd fbCollector
            pyinstaller ./fireballCollector.py --onefile --windowed --icon .\ukmda.ico
    package:
        name: package app
        runs-on: win10
        needs: 
        - local_tests
        - build
        steps:
        - name: packaging
          run: | 
            echo "packaging the app now"
            cd fbCollector\dist
            copy ../ukmda.ico . 
            copy ../config.ini.sample .
            copy ../download_events.sh . 
            copy ../noimage.jpg . 
            copy ../README.md . 
            compress-archive -path . -update -destinationpath c:\temp\fbcollector.zip
    release:
        name: release package
        runs-on: win10
        needs:
        - local_tests
        - build
        - package
        steps:
        - name: release
          uses: xresloader/upload-to-github-release@v1
          env:
            GITHUB_TOKEN: ${{ secrets.MM_PAT }}
          with:
            file: c:\temp\fbcollector.zip
            tags: true
            draft: true 
            overwrite: true
            tag_name: 2025.10.1
            default_release_name: Fireball Data Gathering and Analysis
            default_release_body_path: fbCollector\README.md
    cleanup:
        name: clean up package
        runs-on: win10
        needs: 
        - build
        - release
        steps:
        - name: delete package
          run: | 
           del  c:\temp\fbcollector.zip
