name: build_usermgmt
env:
    AWS_REGION: eu-west-2
permissions:
    id-token: write
    contents: read

on:
    push:
        branches: [ dev, markmac99, master ]
    pull_request:
        # The branches below must be a subset of the branches above
        branches: [ master ]
jobs:
    local_tests:
        name: local test stage
        runs-on: win10
        steps:
        - name: "☁️ checkout repository"
          uses: actions/checkout@v4
        - name: testing
          run: | 
            echo "hello from test"
            conda activate ukmon-admin
            dir usermgmt\windows
    build:
        name: build stage
        runs-on: win10
        needs: local_tests
        steps:
        - name: building
          run: |
            echo "running build step"
            conda activate ukmon-admin
            cd usermgmt\windows
            pyinstaller ./stationMaint2.py --noconsole --onefile --windowed --icon .\camera.ico
            dir dist
    package:
        name: package app
        runs-on: win10
        needs: 
        - local_tests
        - build
        steps:
        - name: packaging
          run: | 
            echo "packaging the app now"
            cd usermgmt\windows\dist
            copy ../camera.ico .
            ((get-content ..\stationmaint.cfg) -replace "adm_mark","") -replace "~/.ssh/ukmonhelper","" | set-content -path ./stationmaint.cfg
            compress-archive -path . -update -destinationpath c:\temp\ukmon_usermgmt.zip
    release:
        name: release package
        runs-on: win10
        needs:
        - local_tests
        - build
        - package
        steps:
        - name: release
          uses: xresloader/upload-to-github-release@v1
          env:
            GITHUB_TOKEN: ${{ secrets.MM_PAT }}
          with:
            file: c:\temp\ukmon_usermgmt.zip
            #tags: true
            draft: true 
            overwrite: true
            tag_name: 2025.10.1
            default_release_name: User Management Tool 
            default_release_body_path: usermgmt\windows\release_notes.md
    cleanup:
        name: clean up package
        runs-on: win10
        needs: 
        - build
        - release
        steps:
        - name: delete package
          run: | 
            c:\temp\ukmon_usermgmt.zip
